@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Ubuntu+Mono:700');

@font-face {
    font-family: 'KG Happy';
    src: url(../fonts/kg-happy/KGHAPPY.ttf)
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#colors {
    color: #3C7DBC;
    color: #BFD7EA;
    color: #91AEC1;
    color: #0A8754;
    color: #004F2D;
}

body {
    background-color: #e8e8e8;
}

h1 {
    color: #0A8754;
    font-family: 'KG Happy', Impact;
    font-weight: initial;
    font-size: 200%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    border-bottom: 4px dotted #0A8754;
}

h2 {
    color: #004F2D;
    font-family: 'KG Happy', Impact;
    font-weight: initial;
    font-size: 166%;
    text-align: center;
}

h3 {
    color: #3C7DBC;
    font-family: 'KG Happy', Impact;
    font-weight: initial;
    font-size: 133%;
    text-align: center;
}

h4 {
    color: #91AEC1;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: initial;
    font-size: 150%;
    text-align: center;
    margin-bottom: -10px;
}

/*Header*/
#header {
    height: 100px;
    background-color: #f0f0f0;
    color: #91AEC1;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 24px;
    line-height: 97px;
    margin: 20px 0px;
}

#logo {
    display: inline-block;
    width: 100px;
    height: 100%;
}

#year {
    display:inline-block;
    width: 30%;
    height: 100%;
    text-align: center;
    vertical-align: top;
}

#subject {
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: center;
    vertical-align: top;
}
/*End Header*/

/*Footer*/
#footer {
    height: 100px;
    text-align: center;
    background-color: #f0f0f0;
    margin: 20px 0px;
    box-shadow: 0px 0px 12px #c9c9c9;
    padding: 40px;
}

#footer a {
    
}
/*End Footer*/

/*Main*/

.banner {
    height: 350px;
    width: 100%;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: table;
    text-align: center;
}

.banner .title {
    display: table-cell;
    vertical-align: middle;
    font-family: "KG Happy", Impact;
    font-size: 300%;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px #000000;
    line-height: 110%;
}

.banner .subtitle {
    font-family: "KG Happy", Impact;
    font-size: 50%;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px #000000;
}

.text, .intro, .outro, .question, .feed, .links {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 12px #c9c9c9;
    margin: 20px;
    padding: 20px;
    font-family: "Times New Roman", serif;
}

.text p + p {
    margin-top: 20px;
}

.text li {
    margin-left: 15px;
}

.text li + li {
    margin-top: 10px;
}

.intro {
    background-color: #FFFFFF;
    min-height: 200px;
    box-shadow: 0px 0px 12px #c9c9c9;
    margin: 20px 20px 20px 0px;
    padding: 20px;

}

.outro {
    background-color: #FFFFFF;
    min-height: 200px;
    box-shadow: 0px 0px 12px #c9c9c9;
    margin: 20px 0px 20px 20px;
    padding: 20px;
}

.question {
    background-color: #FFFFFF;
    min-height: 200px;
    box-shadow: 0px 0px 12px #ffcaca;
    margin: 20px;
    padding: 20px;
}

.feed {
    background-color: #FFFFFF;
    min-height: 200px;
    box-shadow: 0px 0px 12px #8fd1fd;
    margin: 20px;
    padding: 20px;
}

.graphic {
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 12px #c9c9c9;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.graphic>img {
    width: 100%;
    max-width: 450px;
}

.graphic>.title {
    font-family: "KG Happy", Impact;
    font-size: 250%;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px #000000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.links a {
    display: block;
    text-align: center;
    color: #91AEC1;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 150%;
    margin: 5px 0px;
}
/*End Main*/


@supports (display: grid) {
    @media only screen and (min-width: 970px) {
        /*Grid*/
        /*Grid: Main*/
        #main {
            display: grid;
            grid-template-columns: [main-start left-start] 1fr [left-end center-start] 450px [center-end right-start] 1fr [right-end main-end];
        }
        .banner, h1, h2 {
            grid-column: main;
            
        }
        .text, .graphic, h3, h4, .links {
            grid-column: center;
        }
        .intro {
            grid-column-start: left;
            grid-column-end: center;
        }
        .outro {
            grid-column-start: center;
            grid-column-end: right;
        }
        .question {
            grid-column: right;
        }
        .feed {
            grid-column: left;
        }
        /*End Grid: Main*/
        /*Grid: Header*/
        #header {
            display: grid;
            grid-template-areas: "logo year subject space";
            grid-template-columns: 100px 1fr 1fr 3fr;
            grid-template-rows: 100px;
        }
        #logo {
            grid-area: logo;
            display: initial;
            width: initial;
        }
        #year {
            grid-area: year;
            display: initial;
            width: initial;
        }
        #subject {
            grid-area: subject;
            display: initial;
            width: initial;
        }
        /*End Grid: Header*/
        /*End Grid*/
    }
}