#quick-navigation {
    position: fixed;
    top: 10px;
    left: 0px;
    transition: max-width 0.3s, background-color 0.3s;
    padding: 2px 0px 0px 15px;
    max-width: 50px;
    max-height: 55px;
    overflow: hidden;
    z-index: 10000;
}

#quick-navigation::before {
    content: "⊕";
    font-size: 45px;
    display: block;
    color: #0A8754;
    text-shadow: 0px 0px 10px #e8e8e8;
}

#quick-navigation:hover::before {
    content: "⊕";
    font-size: 45px;
    display: block;
    color: #969696;
}

#quick-navigation.open::before {
    content: "⊗ Page Menu";
    white-space: nowrap;
    font-size: 45px;
    display: block;
    color: #323232;
}

#quick-navigation.open {
    max-width: 100%;
    max-height: 77vh;
    height: auto;
    border-bottom: 2px solid #0A8754;
    border-top: 2px solid #0A8754;
    border-right: 2px solid #0A8754;
    padding-bottom: 15px;
    padding-top: 0px;
    background-color: #F2F2F2;
}

#quick-navigation a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1rem;
    box-sizing: border-box;
    overflow: visible;
    padding: 2px 7px 2px 2px;
    color: #000000;
}

#quick-navigation a.quick-navigation-h1 {
    height: 2rem;
}

#quick-navigation a.quick-navigation-h2 {
    height: 1.8rem;
    margin-top: 0.2rem;
}

#quick-navigation a.quick-navigation-h1+a.quick-navigation-h2 {
    margin-top: 0rem;
}

#quick-navigation a.quick-navigation-h3 {
    height: 1.6rem;
    margin-top: 0.2rem;
}

#quick-navigation a.quick-navigation-h2+a.quick-navigation-h3 {
    margin-top: 0rem;
}

#quick-navigation a.quick-navigation-h4 {
    height: 1.4rem;
}

#quick-navigation a:hover {
    color: #636363;
    padding-top: 0px;
}

#quick-navigation a.quick-navigation-h1::before {
    content: "●";
    margin: 0px 5px 0px 5px;
    color: #0A8754;
}

#quick-navigation a.quick-navigation-h2::before {
    content: "●";
    margin: 0px 5px 0px 20px;
    color: #004F2D;
}

#quick-navigation a.quick-navigation-h3::before {
    content: "●";
    margin: 0px 5px 0px 35px;
    color: #3C7DBC;
}

#quick-navigation a.quick-navigation-h4::before {
    content: "●";
    margin: 0px 5px 0px 50px;
    color: #3C7DBC;
}

#quick-navigation-scroll {
    overflow: scroll;
    padding-right: 25px;
    max-height: 65vh;
}
